<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fixed</title>
  <style>
    .container {
      background: lightcoral;
      height: 500px;
      margin-bottom: 10px;
    }
    .nav-bar {
      background: burlywood;
      height: 100px;
      position: fixed;
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="nav-bar"></div>
  <div class="container">
  </div>
  <div class="container">
  </div>
  <div class="container">
  </div>
</body>
</html>