<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Float</title>
  <style>
    .father {
      background: lightcoral;
      height: 500px;
    }
    .child-1 {
      width: 100px;
      background: black;
      height: 200px;
      float: left;
      margin-top: 40px;
    }
    .child-2 {
      width: 100px;
      background: red;
      height: 200px;
      float: right;
    }
  </style>
</head>
<body>
  <div class="father">
    <div class="child-1"></div>
    <div class="child-2"></div>
    <!-- start slipsum code -->

Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. 

<!-- end slipsum code -->
  </div>
</body>
</html>