<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layouts</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="relative.html">Ejemplo position:relative</a></li>
      <li><a href="absolute.html">Ejemplo position:absolute</a></li>
      <li><a href="fixed.html">Ejemplo position:fixed</a></li>
      <li><a href="flex.html">Ejemplo display:flex</a></li>
      <li><a href="grid.html">Ejemplo display:grid</a></li>
      <li><a href="float.html">Ejemplo float</a></li>
    </ul>
  </nav>
</body>
</html>