<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Relative</title>
  <style>
    .father {
      background: lightcoral;
      height: 500px;
    }
    .child {
      background: black;
      height: 200px;
      position: relative;
      top: 10px;
      left: 20px;
      /* Descomenta y ve los cambios ... si es que hay :3
        right: 20px;
      */
    }
  </style>
</head>
<body>
  <div class="father">
    <div class="child"></div>
  </div>
</body>
</html>